@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    color-scheme: dark; 
    --bg-color: #0f0f0f;
}

html {
    background-color: var(--bg-color) !important; 
    color: #fff;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color) !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Scrollbars inmersivos PC */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background-color: rgba(229, 160, 13, 0.8); }

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }