@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ESTILOS GLOBALES E INMERSIVOS --- */
:root { 
    color-scheme: dark; 
    --bg-color: #0f0f0f;
}

html {
    background-color: var(--bg-color) !important; 
    color: #fff;
    overflow-x: hidden;
    /* Scrollbars inmersivas para PC integradas en el HTML */
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    scrollbar-width: thin;
    overflow-y: overlay; 
}

body {
    background-color: var(--bg-color) !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Ocultar la barra de scroll en menús móviles horizontales */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* --- SCROLLBARS INMERSIVOS PARA PC (Webkit) --- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(229, 160, 13, 0.8);
}